@import '../css/select2';

@media screen and (max-width: 567px) {
  html {
    &.calculator-active {
      position: static !important;
      overflow: hidden !important;
    }
  }
}

@media screen and (max-width: 567px) {
  .crypto-calculator-wrapper {
    &.expand {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
      opacity: 1;
      z-index: 2147483001;
      width: 100%;
      height: 100%;
      max-height: none;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: fixed;
      overflow: hidden;
      border-radius: 0px;
      .floating-badge {
        height: 100vh;
        max-height: none;
        width: 100%;
        position: initial;
        transition: height 0.2s;
      }
    }

  }
}

.floating-badge {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  width: 70px;
  height: 70px;
  transform: translateY(70px);
  transition: all 250ms ease-out;
  border-radius: 50%;
  opacity: 0;
  z-index: 123;
  background: black;
  bottom: 20px;
  right: 20px;
  img {
    width: 69px;
    border-radius: 50%;
  }
  @media screen and (max-width: 567px) {
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    transition: opacity 250ms ease-out;
    img {
      width: 59px;
    }
    &.expand {
      border-radius: 0;
    }
  }

  &.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
  }
  &.enter {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
    z-index: 10001;
  }
  +.tooltip {
    font-size: 16px;
  }
  &.expand {
    @media screen and (max-width: 768px) {
      width: calc(100% - 20px);

    }
    width: 436px;
    max-height: 337px;
    height: 337px;
    border-radius: 7px;
    cursor: auto;
    opacity: 1;
    &.auto-height {
      max-height: 379px;
      height: auto;
    }
    +.tooltip {
      display: none !important;
    }
  }
  :focus {
    outline: 0;
  }
  button {
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
  }
  .badge-calculator {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.enter {
      border-radius: 0;
      margin: 20px;
      width: 100%;
      height: auto;
      position: relative;
      .fa-times {
        font-size: 22px;
      }
      @media screen and (max-width: 768px) {
        position: absolute;
        width: auto;
        margin-top: calc(50vh / 2);
        .header {
          position: absolute;
          top: calc(-22vh);
          width: 100%;
        }
      }
    }
    .header {
      flex-shrink: 0;
      padding-bottom: 10px;
      display: flex;
      background: transparent;
      .title {
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: bold;
        font-size: 22px;
        display: flex;
        align-items: center;
        img {
          width: 35px;
          margin: 0 10px 0 0;
          border-radius: 50%;
          @media screen and (max-width: 768px) {
            width: 30px;
          }
        }
      }
      button {
        flex-shrink: 0;
        padding-right: 0;
      }
    }
    .badge-wrapper {
      border-radius: 4px;
      background: transparent;
      padding-top: 15px;
      margin: 0 0 20px;
      @media screen and (min-width: 768px) {
        flex-grow: 1;
      }
      .amount {
        font-size: 16px;
        max-width: 100%;
        &:focus {
          border: 0;
        }
      }
      .item-wrap {
        display: flex;
        flex-direction: row;
        &:last-child, &:first-child {
          margin-bottom: 15px;
        }
        .select2-container, .form-control {
          width: calc(100% - 109px) !important;
          @media screen and (min-width: 768px) {
            width: calc(100% - 128px) !important;
          }
        }
        .label-name {
          margin-right: 10px;
          flex-shrink: 0;
          font-weight: 700;
          display: flex;
          align-self: center;
          width: 118px;
          transition: width 0.4s ease-out;
          @media screen and (max-width: 480px) {
            width: 100px;
          }
        }
        .flex {
          width: 100%;
          display: flex;
          justify-content: center;
          .calculate-switch {
            margin: 5px 0;
            height: 28px;
            width: 28px;
            line-height: 1;
          }
        }
      }
    }

    .footer {
      flex-shrink: 0;
      display: flex;
      padding-top: 10px;
      max-height: 145px;
      height: 100%;
      background: transparent;
      border-top: 1px solid white;
      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }
      .result-calculator {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 22px;
        margin: 0 auto;
        white-space: normal;
        word-break: break-word !important;
        text-align: center;
        font-weight: bold;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-height: 768px) {
          line-height: 1.3;
          display: block;
        }
        .base {
          //width: calc(50% - 20px);
          //text-align: right !important;
          //white-space: normal;
          //word-break: break-word !important;
        }
        .equals {
          width: 30px;
        }
        .convert {
          //width: calc(50% - 20px);
          //text-align: left !important;
          //white-space: normal;
          //word-break: break-word !important;
        }
        .full-name {
          display: none;
        }
        .short-name-slug {
          margin-left: 5px;
          .bracket {
            display: none;
          }
        }
      }
    }
  }
}
.item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .wrap-left {
    display: flex;
    align-items: center;
  }
  .calc-item-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #333;
    .full-name {
      line-height: 1.2;
    }
  }
}

.select2-container {
  .select2-dropdown {
    z-index: 2321312312312;
  }

}
.select2-container--default {
  .select2-results__option {
    .select2-results__option {
      padding-left: 8px !important;
    }
  }
}


/* Crypto currency calculator shortcode PAGE */
.crypto-calculator {
  border: solid 1px #bdbfbf;
  background-color: black;
  color: white;
  max-width: 939px;
  &.post {
    margin-bottom: 15px;
    .result-calculator {
      .full-name, .bracket {
        display: none;
      }
    }
  }

  &.page {
    .calc-container {
      .title {
        font-size: 32px;
        margin-top: 0;
      }
    }
  }
  .btn-primary {
    &:hover {
      border-color: white;
    }
  }
  .calc-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto
  }
  .select2-container {
    width: 100% !important;
  }
  .title {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    color: white !important;
    margin-top: 0 !important;
    @media screen and (max-width: 768px) {
      font-size: 20px !important;
    }
  }
  .wrap {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      &:empty {
        display: none !important;
      }
    }
    .item-wrap {
      flex: 1;
      br {
        display: none;
      }
    }
    .calculate-switch {
      margin: 0 18px;
      padding: 0 13px;
      @media screen and (max-width: 768px) {
        margin: 5px 40px;
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
  .result-calculator {
    margin-bottom: 15px;
    span.equals {
      width: 170px;
      @media screen and (max-width: 768px) {
        width: 50px;
      }
    }
  }

  .share-conversion {
    text-align: center;
  }
  .save-conversion-wrapper {
    margin-bottom: 10px;
    text-align: center;
    .save-conversion {
      background-color: black;
    }
  }

}

.crypto-calculator .calc-container .share-conversion .conversion-url {
  color: #f41142 !important;
  text-decoration: none;
}

/* Crypto currency calculator shortcode POST */

.crypto-calculator {
  display: flex;
  flex-direction: column;
  border: 0 !important;
  padding: 15px;
  margin: 10px auto 20px;
  .copy-input {
    position: absolute;
    left: -10000px;
    top: -10000px;
  }
  .share-conversion {
    color: white;
    i {
      margin-right: 5px;
    }

    .copy-button {
      br {
        display: none !important;
      }
      cursor: pointer;
    }
  }
  .title {
    padding: 0 0 10px 0 !important;
    border-bottom: 1px solid #324149;
    margin-bottom: 10px;
    font-size: 22px;
    &:empty {
      padding: 0 !important;
      border-bottom: none !important;
      margin-bottom: 0 !important;
    }
  }
  .form-group {
    margin-bottom: 10px;
    label {
      margin-bottom: 0;
    }
  }
  .result-calculator {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      width: calc(50% - 40px);
      text-align: left !important;
      white-space: normal;
      word-break: break-word !important;
      @media screen and (max-width: 768px) {
        width: calc(50% - 20px);
      }
      &.base {
        text-align: right !important;
      }
      &.equals {
        width: 83px;
        text-align: center !important;
        @media screen and (max-width: 768px) {
          width: 50px;
        }
      }
    }

    .short-name-slug {
      margin-left: 5px;
    }
  }
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item-wrap {
      text-align: left;
      display: flex;
      flex-direction: column;
      .label-name {
        font-weight: bold;
      }
    }
  }
}

.calculate-switch {
  margin: 0 5px;
  padding: 0 10px;
  height: 34px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  outline: 0 !important;
  align-self: flex-end;
  background-color: #b50c30 !important;
  border: 0 !important;
  @media screen and (max-width: 768px) {
    align-self: center;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .crypto-calculator {
    .result-calculator {
      font-size: 16px;
    }
    .wrap {
      flex-direction: column;
      .item-wrap {
        margin-left: 0;
        .select2-container {
          width: 100% !important;
        }
      }
    }
  }
}
